@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixin.scss" as *;
.success-storeis-wrapper {
  padding-top: 5.5rem;
  padding-bottom: 4rem;
  .common-heading {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    h2 {
      text-align: center;
      font-size: 32px;
      @include tablet {
        span {
          padding-bottom: 18px;
          img {
            bottom: 0;
          }
        }
      }
      @include mobile {
        font-size: 28px;
        span {
          padding-bottom: 18px;
          img {
            bottom: 0;
          }
        }
      }
    }
    img {
      bottom: -18px;
    }
  }
  .custom-swiper {
    .swiper-wrapper {
      display: flex;
      align-items: stretch;
    }

    .swiper-slide {
      height: auto !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      @include mobile {
        display: none;
      }
      background-color: #fda704;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      color: white;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
      }
    }
    .swiper-button-prev {
      left: 10px;
      top: 160px;
      &.custom-icon {
        svg {
          width: 18px;
        }
      }
    }

    .swiper-button-next {
      right: 10px;
      top: 160px;
      &.custom-icon {
        svg {
          width: 18px;
        }
      }
    }
  }
}
