@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/mixin.scss" as *;
.superadmin-topbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px;
  background: white;
  display: flex;
  padding: 0 20px;
  align-items: center;
  z-index: 10;
  .logo-wrapper {
    width: 240px;
    overflow: hidden;
    img {
      width: 100%;
      max-width: 142px;
    }
  }
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 240px);
    gap: 1rem;
    .breadcums-wrapper {
      display: flex;
      flex-direction: column;
      h2 {
        color: #2d2d2e;
        font-size: 16px;
        font-weight: 700;
      }
      p {
        font-size: 12px;
        color: #a3a3a3;
      }
    }
    .header-actions {
      display: flex;
      gap: 20px;
      .notification-btn {
        display: flex;
        gap: 10px;
        button {
          background: #f5f5f5;
          border: none;
          outline: none;
          width: 32px;
          height: 32px;
          border-radius: 5px;
          min-width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 20px;
          }
        }
      }
      .profile {
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          width: 32px;
          height: 32px;
          min-width: 32px;
          border-radius: 5px;
          object-fit: cover;
        }
        h2 {
          color: #2d2d2e;
          font-size: 14px;
          font-weight: 700;
          text-transform: capitalize;
        }
        .logout-btn {
          position: relative;
          button {
            background: transparent;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            svg {
              width: 10px;
            }
          }
          .logout-dropdown {
            position: absolute;
            top: 32px;
            right: 0;
            background: white;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 5px;
            padding: 5px 0;
            width: 100px;
            ul {
              margin: 0;
              padding: 0;
              list-style: none;
              li {
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 5px 10px;
                gap: 5px;
                color: black;
                font-size: 14px;
                transition: transform 0.2s ease-in-out;
                svg {
                  width: 16px;
                }
                &:hover {
                  background: #dde6fa;
                  transform: scale(1.05);
                }
              }
            }
          }
        }
      }
    }
  }
}
.superadmin-sidebar {
  position: fixed;
  left: 0;
  height: calc(100vh - 70px);
  top: 70px;
  width: 80px;
  //   width: 240px;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 10;
  background: white;

  &.open {
    width: 240px;
    //   .sidebar-menu {
    //     .logo-wrapper {
    //       .logo-content {
    //         h1 {
    //           display: flex;
    //         }
    //       }
    //     }
    //   }
  }

  &.open ~ .super-admin-layout-content {
    padding-left: 240px;
  }
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: calc(100vh - 70px);
    .expand-toggle {
      width: 25px;
      height: 25px;
      overflow: hidden;
      margin-left: auto;
      background: white;
      border: none;
      margin-bottom: 16px;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex: 1;
      padding: 2px 5px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
      &.show {
        li {
          justify-content: flex-start;
          a {
            justify-content: flex-start;
            span {
              display: flex;
            }
          }
        }
      }
      li {
        border-radius: 8px;
        overflow: hidden;
        height: 45px;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active,
        &:hover {
          background: #0e53e2;

          a {
            .icon-wrapper {
              svg {
                path {
                  stroke: white;
                }
                circle {
                  fill: white;
                }
              }
            }
            span {
              color: white;
            }
          }
        }
        a {
          padding: 15px 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          white-space: nowrap;
          height: 100%;
          width: 100%;
          span {
            font-size: 14px;
            color: #2d2d2e;
            font-family: "Inter", serif;
            display: none;
          }
        }
      }
    }
    .img-wrapper {
      margin-bottom: 30px;
      img {
        width: 100%;
        max-height: 200px;
      }
    }
  }
}
