.job-detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 5.5rem;
  .common-heading {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    h2 {
      font-size: 32px;
    }
    img {
      margin-bottom: -13px;
    }
  }
  .job-detail-container {
    display: flex;
    gap: 1rem;
    .content-col {
      &:nth-of-type(1) {
        width: 70%;
      }
      &:nth-of-type(2) {
        width: 30%;
        min-width: 350px;
      }
      .job-description-col {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .job-description {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          h2 {
            color: #2d2d2e;
            font-weight: 700;
            font-size: 24px;
          }
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 12px;
            li {
              color: #555555;
              font-size: 15px;
              display: flex;
              align-items: center;
              gap: 10px;
              svg {
                min-width: 14px;
              }
            }
          }
        }
      }
      .job-highlight-col {
        border: 1px solid #f3f3f3;
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .job-highlight {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          align-items: center;

          p {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            svg {
              width: 45px;
            }
          }
          h2 {
            font-size: 18px;
            font-weight: 700;
            span {
              white-space: nowrap;
            }
          }
        }
        .btn-wrapper {
          padding-top: 1rem;
          button {
            background: #0e53e2;
            border-color: #0e53e2;
            color: white;
            transition: all 0.5s;
            border: 1px solid #0e53e2;
            padding: 6px 15px;
            border-radius: 10px;
            font-size: 14px;
            width: 100%;
            overflow: hidden;

            &:hover {
              background: rgba(14, 83, 226, 0.1);
              color: #0e53e2;
              box-shadow:
                0 0 8px #0e53e2,
                0 0 15px #0e53e2;
              border-color: #0e53e2;
            }
          }
        }
      }
    }
  }
}
