@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/mixin.scss" as *;
.job-post-fluid {
  position: relative;
  width: 100%;
  overflow: hidden;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, #ffb11a 0%, white 80%);
    right: -50%;
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.08;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 20%;
    background: radial-gradient(circle, #fa7f71 0%, white 80%);
    left: -50%;
    bottom: 0%;
    position: absolute;
    z-index: -1;
    opacity: 0.08;
  }
}
.job-post-wrapper {
  padding-top: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .common-heading {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    h2 {
      font-size: 32px;
      @include mobile {
        font-size: 28px;
      }
    }
  }
}
