//.core-value-wrapper
.core-value-wrapper {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .common-heading {
    text-align: center;
  }
  .content-overlay {
    display: flex;
    align-items: center;
    .content-col {
      flex: 1;
      .image-layer-col {
        height: 600px;
        position: relative;
        .layer-one {
          width: calc(100% - 80px);
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
        }
        .layer-two {
          width: 250px;
          height: 250px;
          object-fit: cover;
          border-radius: 15px;
          position: absolute;
          right: -30px;
          top: 40px;
          border: 10px solid white;
          z-index: 2;
        }
      }
      .core-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .core-content-header {
          display: flex;
          flex-direction: column;
          gap: 30px;
          padding-left: 50px;
          min-height: 290px;
          .description {
            p {
              font-size: 16px;
              color: #555555;
            }
          }
          .tabs-btn {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            button {
              text-align: left;
              background: transparent;
              color: #2d2d2e;
              font-size: 16px;
              font-weight: 400;
              position: relative;
              border: none;
              &.active {
                color: #fda704;
                font-weight: 700;
                &::after {
                  content: "";
                  width: 100%;
                  max-width: 50px;
                  height: 1px;
                  background: #fda704;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
              }
            }
          }
        }

        .tab-content {
          border: 1px solid #d9d9d9;
          padding: 10px 15px 10px 15px;
          border-radius: 10px;
          position: relative;
          border-left: none;
          border-top: none;
          background: #fff;
          margin-top: 40px;
          svg {
            width: 75px;
            position: absolute;
            left: 15px;
            top: -35px;
            height: 75px;
          }
          .border-top-long {
            position: absolute;
            top: 0;
            width: calc(100% - 105px);
            height: 10px;
            right: 0;
            border-top: 1px solid #d9d9d9;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          }
          .border-left-small {
            position: absolute;
            top: 0;
            width: 10px;
            height: 50px;
            left: 105px;
            border-left: 1px solid #d9d9d9;
            border-top-left-radius: 10px;
          }
          &::before {
            content: "";
            position: absolute;
            top: 50px;
            left: 0;
            width: 105px;
            height: 20px;
            background: transparent;
            border-top: 1px solid #d9d9d9;
            border-left: 1px solid #d9d9d9;
            border-top-left-radius: 10px;
          }

          &::after {
            content: "";
            position: absolute;
            top: 70px;
            left: 0;
            width: 10px;
            height: calc(100% - 70px);
            border-left: 1px solid #d9d9d9;
            border-bottom-left-radius: 10px;
          }

          .tab-card {
            h1 {
              color: #2d2d2e;
              font-size: 26px;
              font-weight: 700;
              padding-left: 105px;
              min-height: 35px;
            }
            p {
              font-size: 16px;
              padding-top: 15px;
              color: #555555;
            }
          }
        }
      }
    }
  }
}
//community-wrapper
.community-wrapper {
  background-image: url("/images/community-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  position: relative;
  overflow: hidden;
  .content-overlay {
    background: rgba(255, 255, 255, 0.85);
    max-width: calc(100% - 300px);
    min-width: 60%;
    width: fit-content;
    margin-left: auto;
    min-height: 500px;
    height: 100%;
    border-top-left-radius: 15px;
    .content-col {
      padding: 80px 80px;
      width: calc(100% - 400px);
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .content-card {
        h2 {
          color: #2d2d2e;
          font-size: 26px;
          font-weight: 700;
          svg {
            width: 20px;
            margin-right: 10px;
          }
        }
        p {
          color: #555555;
          font-size: 14px;
          a {
            color: #fda211;
          }
        }
      }
    }
  }

  .community-right {
    position: absolute;
    right: 0;
    width: 400px;
    top: -10px;
    height: calc(100% + 20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
    z-index: 2;
    text-align: right;
    border: 10px solid white;
    border-right: 0;
    img {
      width: 100%;
      height: 100%;
      margin-left: auto;
      object-fit: cover;
      object-position: calc(100% - -305px) center;
    }
  }
}
// team-wrapper
.team-wrapper {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .common-heading {
    text-align: center;
  }
  .tabs-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    button {
      text-align: left;
      background: transparent;
      color: #2d2d2e;
      font-size: 14px;
      font-weight: 400;
      position: relative;
      border: none;
      &.active {
        color: #fda704;
        font-weight: 700;
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          background: #fda704;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    button {
      background: #0e53e2;
      color: white;
      font-size: 14px;
      border-radius: 10px;
      border: none;
      padding: 10px 25px;
      min-width: 150px;
    }
  }
}
// team-card
.team-card {
  width: 100%;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
  }
  .content-overlay {
    position: relative;
    border-radius: 15px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px 20px 20px 20px;
    width: 90%;
    margin: 0 auto;
    margin-top: -40px;
    min-height: 40px;
    svg {
      position: absolute;
      z-index: 2;
      width: 35px;
      right: 20px;
      top: -30px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 15px;
      height: 60px;
      background: white;
      transform: skewY(3deg);
      transform-origin: top right;
      z-index: 1;
    }
    .content-box {
      position: relative;
      z-index: 2;
      h1 {
        color: #2d2d2e;
        font-size: 18px;
        font-weight: 700;
      }
      p {
        color: #555555;
        font-size: 14px;
      }
    }
  }
}
