@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/mixin.scss" as *;
.advantage-hero-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .hero-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: left;

    h1 {
      font-size: 58px;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      @include tablet {
        font-size: 42px;
        display: block;
      }
      @include mobile {
        font-size: 34px;
      }
    }
  }
}
