.portfolio-wrapper {
  padding-top: 3rem;
  padding-bottom: 4rem;
  .common-heading {
    h2 {
      text-align: center;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    button {
      background: transparent;
      border-color: #0e53e2;
      color: #0e53e2;
      transition: all 0.5s;
      border: 1px solid #0e53e2;
      padding: 8px 15px;
      border-radius: 10px;
      font-size: 14px;
      overflow: hidden;
      min-width: 150px;
      &:hover {
        box-shadow: inset 10em 0 0 0 #0e53e2, inset -10em 0 0 0 #0e53e2;
        border-color: #0e53e2;
        color: white;
        border: 1px solid #0e53e2;
      }
    }
  }
}
