@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/mixin.scss" as *;
.overview-wrapper {
  padding-top: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .common-heading {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    h2 {
      font-size: 32px;
      @include mobile {
        font-size: 28px;
      }
    }
  }
}
