@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/mixin.scss" as *;
.community-wrapper {
  background-image: url("/images/community-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  position: relative;
  overflow: hidden;
  margin: 5rem 0;
  .content-overlay {
    background: rgba(255, 255, 255, 0.85);
    max-width: calc(100% - 300px);
    min-width: 60%;
    width: fit-content;
    margin-left: auto;
    min-height: 500px;
    height: 100%;
    border-top-left-radius: 15px;
    @include desktop-xxl {
      max-width: calc(100% - 200px);
    }
    @include tablet {
      max-width: calc(100% - 100px);
    }
    @include mobile {
      max-width: calc(100% - 20px);
    }
    .content-col {
      padding: 80px 80px;
      width: calc(100% - 400px);
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      @include desktop-xxl {
        padding: 80px 40px;
      }
      @include desktop-xl {
        width: 100%;
      }
      .common-heading {
        h2 {
          span {
            img {
              bottom: -8px;
            }
          }
        }
        @include mobile {
          h2 {
            font-size: 22px;
          }
        }
      }
      .content-card {
        h2 {
          color: #2d2d2e;
          font-size: 26px;
          font-weight: 700;
          @include mobile {
            font-size: 22px;
          }
          svg {
            width: 20px;
            margin-right: 10px;
          }
        }
        p {
          color: #555555;
          font-size: 14px;
          a {
            color: #fda211;
          }
        }
      }
    }
  }

  .community-right {
    position: absolute;
    right: 0;
    width: 400px;
    top: -10px;
    height: calc(100% + 20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
    z-index: 2;
    text-align: right;
    border: 10px solid white;
    border-right: 0;
    img {
      width: 100%;
      height: 100%;
      margin-left: auto;
      object-fit: cover;
      object-position: calc(100% - -305px) center;
    }
    @include desktop-xl {
      display: none;
    }
  }
}
