@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixin.scss" as *;
.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  &.scrolled {
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    .logo-wrapper {
      width: 150px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .menu-wrapper {
      ul {
        display: flex;
        list-style: none;
        gap: 20px;
        padding: 0;
        margin: 0;
        li {
          a {
            color: white;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
    .btn-wrapper {
      button {
        background: #0e53e2;
        color: white;
        font-size: 14px;
        border-radius: 10px;
        height: 40px;
        width: 120px;
        border: none;
      }
    }
  }
}
