.admin-page-wrapper {
  .table-wrapper {
    background: white;
    border-radius: 10px;
    padding: 1rem 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      .common-title {
        flex: 1;
      }
      .table-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1;
        justify-content: flex-end;
        select {
          padding: 10px 15px;
          border-radius: 10px;
          border: 1px solid #d9d9d9;
          outline: none;
          box-shadow: none;
          min-width: 100px;
          max-width: 150px;
          font-size: 14px;
        }
        button {
          background: #0e53e2;
          border-color: #0e53e2;
          white-space: nowrap;
          color: white;
          transition: all 0.5s;
          border: 1px solid #0e53e2;
          padding: 10px 15px;
          border-radius: 10px;
          font-size: 14px;
          overflow: hidden;
          width: 100%;
          max-width: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          svg {
            width: 18px;
          }
          &:hover {
            background: rgba(14, 83, 226, 0.1);
            color: #0e53e2;
            box-shadow:
              0 0 8px #0e53e2,
              0 0 15px #0e53e2;
            border-color: #0e53e2;
            svg {
              path {
                stroke: #0e53e2;
              }
            }
          }
        }
      }
    }
    .table-container {
      --bs-table-hover-bg: #dde6fa !important;
      table {
        thead {
          tr {
            th {
              color: #2d2d2e;
              font-size: 13px;
              background-color: #f9fbff;
              padding-top: 1rem;
              padding-bottom: 1rem;
              font-weight: 400;
              .checkbox {
                display: flex;
                align-items: center;
                gap: 5px;
              }
            }
          }
        }
        tbody {
          tr {
            td {
              font-size: 13px;
              padding-top: 1rem;
              padding-bottom: 1rem;
              color: #2d2d2e;
              font-weight: 400;
              .checkbox {
                display: flex;
                align-items: center;
                gap: 5px;
              }
              .profile {
                display: flex;
                align-items: center;
                gap: 5px;
                img {
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                }
              }
              .custom-switch {
                .form-check-input {
                  box-shadow: none !important;
                  width: 30px;
                  height: 15px;
                  &:checked {
                    background-color: #0e53e2 !important;
                    border-color: #0e53e2 !important;
                  }
                  &:not(:checked) {
                    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%230e53e2'/%3e%3c/svg%3e");
                    background-color: white !important;
                    border-color: #0e53e2 !important;
                  }
                }
              }
              .status {
                span {
                  color: #f1c644;
                  background: #fffced;
                  font-size: 12px;
                  padding: 7px 15px;
                  border-radius: 5px;
                  &.inactive {
                    color: #ff3532;
                    background: #fff2f2;
                  }
                  &.active {
                    color: #37b24d;
                    background: #ebfbee;
                  }
                }
              }
              .action-btn {
                width: fit-content;
                button {
                  background: transparent;
                  border: none;
                  width: fit-content;
                }
              }
            }
          }
        }
      }
    }
  }
}
